:root {
  --branding-color: darkgray;
  --primary-color: black;
  --secondary-color: lightgray;
  --default-font-family: "Nunito", sans-serif;
}
body {
  background-color: var (--secondary-color);
}
h1,
h2,
h3 {
  text-align: center;
}
h1 {
  font-family: var(--default-font-family);
  font-size: 96px;
}
h2 {
  font-size: 64px;
}
h4 {
  font-size: 48px;
}

p {
  font-size: 16px;
  line-height: 30px;
}

.picture {
  width: 360px;
  border-radius: 10px;
}
.hero {
  background: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  padding: 120px 20px;
}
.hero p {
  font-size: 36px;
  margin: 0;
}
.hero h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}
.heading {
  margin-top: 100px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.btn-branding {
  background: white;
  border-radius: 4px;
  color: black;
  border: 1px solid black;
  padding: 15px 30px;
  margin-top: 30px;
  text-decoration: none;
}

.btn-branding :hover {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  padding: 15px 30px;
  margin: 40px;
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: black;
  padding: 15px 30px;
  margin-top: 40px;
}

.project-description {
  padding: 30px 50px;
}

footer {
  margin: 60px 0;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .email-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 12px 18px;
  border-radius: 50%;
  font-size: 22px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
.content-container {
  margin-top: 60px;
  padding: 40px 20px;
}
.content-container h1 {
  font-size: 64px;
}
.content-container h1,
h3,
p {
  font-family: var(--default-font-family);
  text-align: center;
}
.content h3 {
  font-size: 24px;
}
.content {
  margin: 40px;
}
.content p {
  font-size: 14px;
}
@media (max-width: 576px) {
  .project-description {
    padding-top: 20px;
    text-align: center;
  }
  .email-link {
    font-size: 18px;
  }
  .contact-icon {
    display: none;
  }
  .app-name {
    font-size: 20px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content-container h1 {
    font-size: 36px;
  }
  footer .contact-box {
    padding: 30px;
  }

  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 28px;
    padding-top: none;
  }
  h4 {
    font-size: 24px;
  }

  p {
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
  }
}
